
 .btn {
    width: 100%;
    margin-bottom : 10px;
    border-radius : 5px;
    transition: all 0.25s linear;
    padding: 8px 16px;
    opacity: 0.9;
    box-sizing: border-box;
    
}

.ml-small {
    margin-left: 5px;
}
.mr-small {
    margin-left: 5px;
}

.btn-primary-outline{
    color : #0070D2;
    background-color: rgb(255, 255, 255);
    border: 1px solid #0070D2;
    
}

.btn-primary{
    background-color: #004487;
    color: #fff;
    border: none;
    border: 1px solid #0070D2;
}

 .btn:hover {
    opacity: 1;
}
.form{
    padding: 0 15px;
}

.form .btn{
    margin-top: 15px;
}


.btn:hover {
    opacity: 1;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions{
    flex-direction : column;
    width: 100%;
    padding: 0 15px;
}